---
import Layout from "../layouts/Layout.astro";
import { getCldImageUrl } from "astro-cloudinary/helpers";
import { promts } from "../../public/promts/promts";

const { searchParams } = Astro.url;
const id = searchParams.get("id");

if (id === null) {
  console.log("id es null");
  // acapodemos abrir un modal
}
const url = getCldImageUrl({ src: id });

const action = () => {
  alert("sendFunction");
};

const data = {
  data: "data",
};
---

<Layout title="SocialPicAI">
  <main class="container mx-auto px-4 py-8" data-id={id}>
    <img
      id="image"
      src={url}
      alt="facebook image"
      class="w-full h-full object-cover rounded"
    />
  </main>
  <button id={promts.filterHalloween}>Transform Image 1</button>
  <button>Transform Image 2</button>
</Layout>
<style></style>
<script>
  import { getCldImageUrl } from "astro-cloudinary/helpers";
  import type { on } from "pdfkit";

  const buttons = document.querySelectorAll("button");
  const id = document.querySelector("main")?.getAttribute("data-id");
  const image = document.getElementById("image");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const url = getCldImageUrl({
        src: id,
        replaceBackground: "un fondo terrofico con alusion a halloween",
      });
      image.style.opacity = "0.3";
      image.src = url;
      image.onload = () => {
        image.style.opacity = "1";
      };
    });
  });
</script>
