---
import FeatureCard from "./FeatureCard.astro";
import { features } from "../constants/features";
import { t } from "i18next";
---

<section class="my-12">
  <h2 class="text-3xl font-bold mb-6 text-center">{t("features.title")}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {features.map((feature) => <FeatureCard {...feature} />)}
  </div>
</section>
