---
import { getI18n } from "../i18n";

const {currentLocale = "en"} = Astro;

const i18n = getI18n({currentLocale});
---
<main class="container md:mx-auto px-4 py-2 md:py-8"></main>
<h1 class="text-4xl font-bold mb-8 text-center">
   { i18n.hero.title }
</h1>
<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
