---
import FeatureCard from "./FeatureCard.astro";
import Testimonial from "./Testimonial.astro";
import { testimonials } from "../constants/testimonials";
import { getI18n } from "../i18n";

const {currentLocale = "en"} = Astro;

const i18n = getI18n({currentLocale});
---

<section class="my-12">
  <h2 class="text-3xl font-bold mb-6 text-center">
    {i18n.testimonials.title}
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {testimonials.map((testimonial) => <Testimonial {...testimonial} />)}
  </div>
</section>
