---
import { CldUploadWidget } from "astro-cloudinary";
import { getI18n } from "../i18n";

const {currentLocale = "en"} = Astro;

const i18n = getI18n({currentLocale});
---

<div
  class="max-w-md mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-12"
>
  <form id="imageForm" class="space-y-4">
    <div>
      <label
        for="userImage"
        class="block text-sm font-medium text-gray-700 dark:text-gray-300"
      >
        {i18n.form.uploadImage}
      </label>
      <input
        type="file"
        id="userImage"
        name="userImage"
        accept="image/*"
        required
        class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      />
    </div>
    <button
      type="submit"
      class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded"
    >
      {i18n.form.generate}
    </button>
  </form>

  <CldUploadWidget
    options={{
      sources: ["facebook"],
      multiple: false,
      maxFiles: 1,
      language: "es",
      text: {
        es: {
          dropbox: {
            dd_title_single: "Sube tu foto",
          },
        },
      },
      styles: {},
    }}
    uploadPreset="mxvi-upload"
  >
    <button id="cdWidget">Facebook</button>
  </CldUploadWidget>
  <CldUploadWidget
    options={{
      sources: ["instagram"],
      multiple: false,
      maxFiles: 1,
      language: "es",
      text: {
        es: {
          dropbox: {
            dd_title_single: "Sube tu foto",
          },
        },
      },
      styles: {},
    }}
    uploadPreset="mxvi-upload"
  >
    <button id="cdWidget">Instagram</button>
  </CldUploadWidget>
  <CldUploadWidget
    id="local-widget"
    options={{
      sources: ["local"],
      multiple: false,
      maxFiles: 1,
      language: "es",
      text: {
        es: {
          dropbox: {
            dd_title_single: "Sube tu foto",
          },
        },
      },
      styles: {},
    }}
    uploadPreset="mxvi-upload"
  >
    <button id="cdWidget">Local</button>
  </CldUploadWidget>
</div>
<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  #cdWidget {
    background-color: #00c65e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #cdWidget:hover {
    background-color: #00b359;
  }
</style>
